/* Body and p elements */
body, p, h1, h2, h3, ul, td {
//  font-family:   "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
//  font-weight:light;
  font-size:   16;
  color: #333333;
  text-align: justify;
  background-color: #ffffff;
}

p { 
  line-height:    125%; 
  margin:         0px;
  padding-top:    0px;
  padding-bottom: 10px;
  text-align: justify;
}

/* Links */
	
a:link {
  color:            rgb(130, 141, 157);
  background-color: transparent;
  text-decoration:  none;	
}

a:visited, a:active {
  color:            rgb(196,123,161);
  background-color: transparent;
  text-decoration:  none;	
}

a:hover {
  color:            rgb(105,159,239);
  background-color: transparent;
  text-decoration:  none;	
}
/* Headings */

h1, h2, h3 {
//  font-family:    Arial, Helvetica, sans-serif;
  font-weight:    normal;
  color:          rgb(12,35,68);
  line-height:    100%;
  padding-bottom: 4px;
  margin:         0px;
  margin-bottom:  8px;
}

h1 { 
  padding-top:    3em;
  font-size:      36px;
}

h2 {
  padding-top:    6px;
  color:          rgb(0,85,183);
  font-size:      24px;
}

h3 { 
  color:          rgb(153,153,153);
  margin-top: 2px;
}

/* HR */

    hr {
    height: 1px;
    color: #CDCDCD;
    }

/* Lists */

dt {
  margin-top: 10px;
}

ul { 
  font-size:     14; 
  margin-top:    0px;
  margin-bottom: 10px;
}
	
    li {
    list-style: square;
    }

    li.pub { margin-bottom: 10px; }

    ul li li {
    list-style: disc;
    }
/*
    ul li li li {
    list-style: circle;
    }
	
    ul li li li li {
    list-style: square;
	}
	
    ul li li li li li  {
    list-style: disc;
    }
    ul li li li li li li {
    list-style: circle;
    }

    ul li li li li li li li{
    list-style: square;
    }
*/
/* Monospaced */

    .mono {
    font-family: "courier new", courier, mono;
    font-size: 12px;
    color: #000000;
    }

/* Fine print for forms, image captions, et cetera */

    .fine {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #999999;
    }	
	
/* Address */
    address {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    }

/* Table cell backgrounds */

    .tdNav {
    background-color: #EBEBEB
    }

    .tdNavActive {
    background-color: #C3C3C3;
    }

    .tdNavSub {
    background-color: #D4D4D4;
    }

    .tdVertDiv {
    background-color: #EBEBEB
    }

#title {
  width:          642px;
  margin:         0px;
  padding-bottom: 16px;
  border-bottom:  1px solid black;
}

#middle { 
  width:          642px;
  vertical-align: top;
}

#blurb { 
  width:          440px;
  padding-top:    2px;
  padding-left:   42px;
  padding-bottom: 12px;
}

#mainblurb {
  padding-top:    6px;
  padding-left:   0px;
  padding-right:  6px;
  padding-bottom: 12px;
}

#mainblurb em { 
  vertical-align: top;
  font-weight:    bold;
  font-style:     normal;
}

#rightsidebar { 
  vertical-align: top;
  width:          331px;
  padding-top:    0px;
  padding-left:   14px;
  border-left:    1px solid black;
}

#footer { 
  border-top:    1px solid black;
  margin-top:    0px;
  margin-bottom: 10px;
  padding:       1px;
}

#footer p { color: #006633; }

#summaries table { 
  margin-top:         4px;
  margin-bottom:      14px;
  border:          1px solid #006633;
  border-collapse: collapse;
}

#summaries td { 
  vertical-align: baseline; 
  padding:        4px;
}

#summaries td.header { 
  color:            white;
  background-color: #006633;
  text-align:       center;
}

#summaries td.fieldname { 
  font-weight: bold;
}
